.contodo-link > * {
  display: inline-block; }

.contodo-link .block-editor-url-input__button-modal {
  position: absolute;
  right: 0;
  width: 280px; }
  .contodo-link .block-editor-url-input__button-modal .block-editor-url-input input[type="text"] {
    width: 200px; }
