/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.contodo.two-up.two-up-split {
  grid-template-columns: 1fr; }
  .contodo.two-up.two-up-split .content {
    position: relative;
    padding: 2rem 0; }
    .contodo.two-up.two-up-split .content > *:not(.bg-tile) {
      z-index: 3; }
  .contodo.two-up.two-up-split .image {
    width: 100vw;
    margin-left: calc(-1*var(--horizontal-padding, 1em));
    z-index: 1; }
    .contodo.two-up.two-up-split .image figure, .contodo.two-up.two-up-split .image figure img, .contodo.two-up.two-up-split .image video {
      height: initial; }
  .contodo.two-up.two-up-split .bg-tile {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    right: var(--horizontal-padding, 1rem); }
  .contodo.two-up.two-up-split .content-top .bg-tile {
    top: 3rem; }
  .contodo.two-up.two-up-split ul, .contodo.two-up.two-up-split ol {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; }
  .contodo.two-up.two-up-split li {
    list-style: none; }
  .contodo.two-up.two-up-split .cta, .contodo.two-up.two-up-split li {
    text-align: center; }
  @media only screen and (min-width: 640px) {
    .contodo.two-up.two-up-split {
      grid-template-columns: 1fr 1fr; }
      .contodo.two-up.two-up-split .image {
        width: 100%;
        margin-left: 0; }
      .contodo.two-up.two-up-split .content-top .bg-tile {
        height: 75%;
        width: calc(100% + (var(--horizontal-padding, 1rem) * 4));
        right: 0; }
      .contodo.two-up.two-up-split .content-bottom .bg-tile {
        width: 0;
        height: 0; }
      .contodo.two-up.two-up-split ul, .contodo.two-up.two-up-split ol {
        flex-direction: row;
        justify-content: space-between; }
      .contodo.two-up.two-up-split .cta {
        text-align: left; }
      .contodo.two-up.two-up-split.image-left .content-top {
        grid-column: 2; }
        .contodo.two-up.two-up-split.image-left .content-top .bg-tile {
          right: -3em; }
      .contodo.two-up.two-up-split.image-left .image {
        grid-column: 1;
        grid-row: 1/3; }
      .contodo.two-up.two-up-split.image-left .content-bottom {
        grid-column: 2;
        grid-row: 2; }
      .contodo.two-up.two-up-split.image-right .content-top {
        grid-column: 1; }
      .contodo.two-up.two-up-split.image-right .image {
        grid-column: 2;
        grid-row: 1/3; }
      .contodo.two-up.two-up-split.image-right .content-bottom {
        grid-column: 1;
        grid-row: 2; }
      .contodo.two-up.two-up-split.image-right.image-25 {
        grid-template-columns: 75fr 25fr; }
      .contodo.two-up.two-up-split.image-left.image-25 {
        grid-template-columns: 25fr 75fr; }
      .contodo.two-up.two-up-split.image-right.image-33 {
        grid-template-columns: 67fr 33fr; }
      .contodo.two-up.two-up-split.image-left.image-33 {
        grid-template-columns: 33fr 67fr; }
      .contodo.two-up.two-up-split.image-right.image-42 {
        grid-template-columns: 58fr 42fr; }
      .contodo.two-up.two-up-split.image-left.image-42 {
        grid-template-columns: 42fr 58fr; }
      .contodo.two-up.two-up-split.image-right.image-50 {
        grid-template-columns: 50fr 50fr; }
      .contodo.two-up.two-up-split.image-left.image-50 {
        grid-template-columns: 50fr 50fr; }
      .contodo.two-up.two-up-split.image-right.image-58 {
        grid-template-columns: 42fr 58fr; }
      .contodo.two-up.two-up-split.image-left.image-58 {
        grid-template-columns: 58fr 42fr; }
      .contodo.two-up.two-up-split.image-right.image-67 {
        grid-template-columns: 33fr 67fr; }
      .contodo.two-up.two-up-split.image-left.image-67 {
        grid-template-columns: 67fr 33fr; }
      .contodo.two-up.two-up-split.image-right.image-75 {
        grid-template-columns: 25fr 75fr; }
      .contodo.two-up.two-up-split.image-left.image-75 {
        grid-template-columns: 75fr 25fr; } }
