/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 

//  These are our configurable column widths
$cols:(25,33,42,50,58,67,75);
//  This is the breakpoint above which there is a two column layout
$breakpoint: 640px;

@mixin makeWidths( $cols... ) {
	@each $col in $cols {
		&.image-right.image-#{$col} {
			grid-template-columns: #{100-$col}fr #{$col}fr;
		}
		&.image-left.image-#{$col} {
			grid-template-columns: #{$col}fr #{100-$col}fr;
		}
	}
}

.contodo.two-up.two-up-split {
	grid-template-columns: 1fr;

	.content {
		position: relative;
		padding: 2rem 0;
		> *:not(.bg-tile) {
			z-index: 3;
		}
	}

	.image {
		width: 100vw;
		margin-left: calc(-1*var(--horizontal-padding, 1em));
		z-index: 1;
		figure, figure img, video {
			height: initial;
		}
	}

	.bg-tile {
		position: absolute;
		padding: 0;
		width: 100%;
		height: 100%;
		right: var(--horizontal-padding, 1rem);
	}

	.content-top .bg-tile {
		top: 3rem;
	}

	ul, ol {
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	}
	li {
		list-style: none;
	}
	.cta, li {
		text-align: center;
	}

	@media only screen and (min-width: #{$breakpoint}) {
		.image {
			width: 100%;
			margin-left: 0;
		}
		.content-top {
			.bg-tile {
				height: 75%;
				width: calc(100% + (var(--horizontal-padding, 1rem) * 4) );
				right: 0;
			}
		}
		.content-bottom {
			.bg-tile {
				width: 0;
				height: 0;
			}
		}

		ul, ol {
			flex-direction: row;
			justify-content: space-between;
		}
		.cta {
			text-align: left;
		}

		grid-template-columns: 1fr 1fr;
		&.image-left {
			.content-top {
				grid-column: 2;
				.bg-tile {
					right: -3em;
				}
			}
			.image {
				grid-column: 1;
				grid-row: 1/3;
			}
			.content-bottom {
				grid-column: 2;
				grid-row: 2;
			}
		}
		&.image-right {
			.content-top {
				grid-column: 1;
			}
			.image {
				grid-column: 2;
				grid-row: 1/3;
			}
			.content-bottom {
				grid-column: 1;
				grid-row: 2;
			}
		}
		
		@include makeWidths(25,33,42,50,58,67,75);
	}
}

