/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
$max-width: 1160px;
$breakpoint: 640px;

.contodo.two-up.two-up-split.two-image-split {
	.image, .content > * {
		padding-left: 0;
		padding-right: 0;
	}

	h2, h5 {
		margin: 0;
		line-height: 1em;
	}

	.content-top .bg-tile {
		display: none;
	}

	.content-bottom .image {
		width: 80%;
		margin: 0 auto;
	}


	@media only screen and (min-width: #{$breakpoint}) {
		grid-gap: 1.5em;

		.image {
			z-index: 3;


			figure, picture, video {
				width: 100%;
			  height: auto;
			  margin-top: 5em;
			}
		}
		
		.content-top {
			padding: 0;

			
			.bg-tile {
				display: block;
				top: 1.75em;
				width: calc(var(--max-width, #{$max-width})*.6);
				height: 150%;
				z-index: 1;
			}

		}
		.content-bottom {
			.bg-tile {
				width: calc(var(--max-width, #{$max-width})*.9);
	      height: 80%;
	      top: 3em;
			}
		}

		&.image-left {
			.content-top .bg-tile {
				right: -3em;
			}
			.image {
				margin: 0 auto 0 0;
			}
			.content-bottom .bg-tile {
				right: 0;
			}
		}
		&.image-right {
			.content-top .bg-tile {
				left: -3em;
			}
			.image {
				margin: 0 0 0 auto;
			}
			.content-bottom .bg-tile {
				left: 0;
			}
		}
	}
}
