.contodo.testamonial {
	.image {
		.block-editor-block-list__layout,
		.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"],
		.block-editor-block-list__layout .block-editor-block-list__block {
			padding: 0;
		}
	}
	
}
.contodo-testamonial-panel {
	.components-color-picker__inputs-wrapper {
		min-width: auto;
	}
}