a.components-external-link {
	clear: both;
}
.collabo-link {
	display: grid;
	grid-template-columns: 6fr 1fr 1fr;
	> * {
		display: inline-block;
	}

	.block-editor-url-input__button-modal {
		position: absolute;
		right: 0;
		width: 280px;
		.block-editor-url-input input[type="text"] {
			width: 200px;
		}
	}
}