.wp-block-contodo-components-collaborator-card h4 {
  margin-bottom: 0; }

.wp-block-contodo-components-collaborator-card h5 {
  margin-bottom: .25rem; }

.wp-block-contodo-components-collaborator-card a.components-external-link {
  clear: both; }
