/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
//  These are our configurable column widths
$cols:(25,33,42,50,58,67,75);
//  This is the breakpoint above which there is a two column layout
$breakpoint: 640px;

@mixin makeWidths( $cols... ) {
	@each $col in $cols {
		&.is-style-darkImageRight.image-#{$col},
		&.is-style-lightImageRight.image-#{$col} {
			grid-template-columns: #{100-$col}fr #{$col}fr;
		}
		&.is-style-darkImageLeft.image-#{$col},
		&.is-style-lightImageLeft.image-#{$col} {
			grid-template-columns: #{$col}fr #{100-$col}fr;
		}
	}
}


.contodo.two-up {
	display: grid;
	grid-template-columns: 1fr;

	&.is-style-darkImageLeft,
	&.is-style-darkImageRight {
		background: var(--dark, #555);
		color: var(--light, #fff);
		a {
			color: var(--light, #fff);
		}
	}

	.content {
		width: 100%;
		padding: 4rem 0;
		display: flex;
	  flex-direction: column;
	  align-content: center;
	  justify-content: center;
	  > * {
	  	padding-left: var(--horizontal-padding, 2rem);
	  	padding-right: var(--horizontal-padding, 2rem);
	  }
	  > *:first-child {
	  	padding-top: 0;
	  	margin-top: 0;
	  }
	  > *:last-child {
	  	padding-bottom: 0;
	  	margin-bottom: 0;
	  }
	}
	.image,
	figure {
		padding: 0;
		margin: 0;
	}
	.image {
		height: 100%;
		figure,
		figure img {
			width: 100%;
			height: 100%;
		}
		figure img {
			object-fit: cover;
		}
	}

	@media only screen and (min-width: #{$breakpoint}) {
		.content {
			padding: 2rem 0;
			> * {
		  	padding-left: var(--horizontal-padding, 1rem);
		  	padding-right: var(--horizontal-padding, 1rem);
		  }
		}

		grid-template-columns: 1fr 1fr;
		@include makeWidths(25,33,42,50,58,67,75);
		&.is-style-darkImageRight .content,
		&.is-style-lightImageRight .content {
			order: -1;
		}
	}
}
